{:paths []
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.async {:mvn/version "1.3.610"}
        org.clojure/spec.alpha {:mvn/version "0.2.187"}

        github.cljtools/libp2p-spec {:local/root  "./modules/libp2p-spec"}
        github.cljtools/libp2p-core {:local/root  "./modules/libp2p-core"}}}