{:paths ["src"]
 :deps {github.cljctools.cljctools/socket {:local/root "../socket"}
        github.cljctools/bytes-jvm {:local/root "../bytes-jvm"}
        aleph/aleph {:mvn/version "0.4.7-alpha5"}
        manifold/manifold {:mvn/version "0.1.9-alpha3"}}}