{:paths ["src"]
 :deps {stylefruits/gniazdo {:mvn/version "1.1.4"}
        github.com.cljctools/net.meta {:local/root "../../../meta"}
        github.com.cljctools/net.socket.meta {:local/root "../../meta"}}}